{% extends 'base.html' %} {%block title%} Covid-19 Interactive Dashboard
{%endblock%} {%block content%}
<div class="app">
  <div class="app__top">
    <div class="app__map__chat">
      <div class="app__map">{{cmap | safe}}</div>
      <div class="app__chart">
        <h1>Summary on covid-19 Statistics in South Africa</h1>
        <canvas id="bar-chart" class="chart"></canvas>
        <canvas id="pie-chart" class="chart"></canvas>
      </div>
    </div>
    <div class="app__summary__stats">
      <div class="app__card">
        <h1>confirmed</h1>
        <p>{{ total_confirmed }}</p>
      </div>
      <div class="app__card">
        <h1>deaths</h1>
        <p>{{ total_deaths }}</p>
      </div>
      <div class="app__card">
        <h1>recoveries</h1>
        <p>{{ total_recoveries }}</p>
      </div>
    </div>
  </div>

  <div class="app__table">
    <h1>Covid-19 statistics in South Africa</h1>
    <table>
      <thead>
        {% for row in data %} {% if loop.first %}
        <tr>
          <th>{{row[0]}}</th>
          <th>{{row[1]}}</th>
          <th>{{row[2]}}</th>
          <th>{{row[3]}}</th>
        </tr>
        {% endif %} {% endfor%}
      </thead>
      <tbody>
        {% for row in data %} {%if loop.first == False %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
        {% endif %} {% endfor%}
      </tbody>
    </table>
  </div>
  <div class="footer">
    Corona virus is dangerous, stay at home, sanitize and wear your masks.
  </div>
</div>

{%endblock%}
